<div class="main">
<h1>Mechanics in your area</h1>
  <ul class="cards">
    <% @services.each do |service| %>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://www.guildford-dragon.com/wp-content/uploads/2020/08/Bike-Bros-logo.png"></div>
        <div class="card_content">
          <h2 class="card_title"><%= service.user.company_name %></h2>
          <p class="card_text"><i class="fas fa-map-marker-alt"></i> <%= service.user.location %></p>
          <p class="card_text"><i class="fas fa-bicycle"></i> <%= service.repair_name %> </p>
          <p class="card_text"><i class="fas fa-money-bill-wave"></i> £<%= service.cost %></p>       
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>