.title {
  padding-top: 70px;
  text-align: left;
}
.searchbar {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0 auto;
  width: 0px;
  padding: 8px;
}

.searchbox {
  margin: 0 auto;
  width: 95vw;
  height: 50px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.search_button {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #33A8A1;;
  border-radius: 0.5rem;
  margin: 10px 0px
}

.search_button:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.near_me {
  margin-top: 16px;
  padding-left: 8px;
  margin-bottom: -16px
}
