.title {
  padding-top: 70px;
  text-align: left;
}
.searchbar {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0 auto;
  width: 0px;
  padding: 8px;
}

.searchbox {
  margin: 0 auto;
  width: 95vw;
  height: 32px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.search_button {
  width: 95vw;
  text-align: center;
  background-color: #33A8A1;
  color: white;
  height: 32px;
  border-radius: 5px;
}

.near_me {
  margin-top: 16px;
  padding-left: 8px;
  margin-bottom: -16px
}
