.s-container {
  margin: 10px 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin: 10px;
  }

  .card-show {
    display: flex;
    margin-top: 70px;
    border-radius: 0.5rem;
    flex-direction: column;
    overflow: hidden;

    .s-image {
      height: 500px;
      width: 100%;
      vertical-align: middle;
      border-radius: 10px;
    }

    .s-text-map-container {
      display: flex;
      flex-direction: row;
      margin: 20px 0;

      .s-text-wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-right: 40px;

        .card-content-show {
          padding-bottom: 1rem;

          .s-card-title {
            color: black;
            font-size: 3rem;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: capitalize;
            margin: 0px;
            margin-bottom: 1.25rem;
          }

          .s-card-text {
            color: black;
            font-size: 1.5rem;
            line-height: 1;
            margin-bottom: 1.25rem;
            font-weight: 500;
          }
        }

        .btn-show {
          display: inline-block;
          color: #ffffff;
          padding: 0.8rem;
          font-size: 14px;
          text-transform: uppercase;
          border-radius: 4px;
          font-weight: 400;
          display: block;
          width: 100%;
          cursor: pointer;
          border: 1px solid rgba(255, 255, 255, 0.2);
          background: #33a8a1;
          border-radius: 0.5rem;
          text-align: center;

          .btn-show:hover {
            background-color: $hover;
            color: #fff;
          }
        }
      }

      .s-mapbox {
        flex: 2;
        .mapboxgl-canvas {
          border-radius: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .s-container {
    margin: 10px;

    .card-show {
      box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

      .s-image {
        height: 240px;
      }

      .s-text-map-container {
        display: contents;

        .s-text-wrapper {
          margin-right: 0;

          .card-content-show {
            padding: 1rem;
            background: $primary-colour;
            margin-top: 5px;
            border-radius: 10px;

            .s-card-title {
              font-size: 2rem;
              color: #ffffff;
            }

            .s-card-text {
              color: #ffffff;
              font-size: 1rem;
            }

            .star {
              color: white;
            }
          }

          .btn-show {
            width: 100%;
            margin: 20px 0px;
          }
        }

        .mapboxgl-canvas {
          height: 400px;
          position: relative;
        }
      }
    }
  }
}
