<div>
  <h1>Booking Confirmation</h1>
  <h2>My Basket</h2>
  <p>Service wil be in XX minutes</p>
</div>


<h2>Items</h2>

<div class="order_summary">
  <ul>
  <li>@repair_name</li>
  <li>Service 2</li>
  </ul>
</div>
<%= @booking.user.email %>

<div id="map"
  style="width:100%; height: 400px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

