<div class="universal-container">
  <div class="card-show">
    <h1>Booking</h1>

    <%= simple_form_for [@mechanic, @booking] do |f| %>
    <%= f.association :service, collection: Service.where(user: @booking.service.user), label_method: :repair_name, value_method: :id, include_blank: false %>
    <%= f.input :comment, html5: true %>
    <%= f.submit class: "btn" %>
    <% end %>
  </div>
</div>
