<div class="main">
  <div class="card-show">
    <h1>Booking</h1>

    <%= simple_form_for [@mechanic, @booking], url: "/orders", method:"post" do |f| %>
    <%= f.association :service, collection: Service.where(user: @mechanic), label_method: :repair_name, value_method: :id, include_blank: false %>

    <%= f.submit class: "btn" %>      
    <% end %>
  </div>
</div>