<div class="main">
<h1>Mechanics that offer <%= params["search_by_service"] %></h1>
  <ul class="cards">
    <% @mechanics.each do |mechanic| %>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://www.guildford-dragon.com/wp-content/uploads/2020/08/Bike-Bros-logo.png"></div>
        <div class="card_content">
          <h2 class="card_title"><%= mechanic.company_name %></h2>
          <p class="card_text"><i class="fas fa-map-marker-alt"></i> <%= mechanic.location %></p>
          <p class="card_text"><i class="fas fa-bicycle"></i>  </p>
          <p class="card_text"><i class="fas fa-money-bill-wave"></i> </p>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>
