<nav class="mobile-bottom-nav">
	<div class="mobile-bottom-nav__item mobile-bottom-nav__item--active">
		<div class="mobile-bottom-nav__item-content">
			<i class="fas fa-search fa-2x"></i>
      <%= link_to "Home", root_path  %>
		</div>		
	</div>
	<div class="mobile-bottom-nav__item">		
		<div class="mobile-bottom-nav__item-content">
			<i class="fas fa-user fa-2x"></i>
      <%= link_to "Profile", profile_path %>
		</div>
	</div>
	<div class="mobile-bottom-nav__item">
		<div class="mobile-bottom-nav__item-content">
			<i class="fas fa-wrench fa-2x"></i>
      Mechanics
		</div>		
	</div>
</nav>
