<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <%= link_to root_path do %>
    <div class="logo">

      <!-- Logo Placeholder for Inlustration -->
      <i class="fas fa-bicycle"></i> Bike Fix</a>
    </div>
    <% end %>

    <!-- Navbar Links -->
    <ul id="menu">
      <li><a href="#home">Home</a></li><!--
   --><li><a href="#services">Profile</a></li><!--
   --><li><a href="#about">Mechanics</a></li><!--
   --><li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>


<!-- Menu Icon -->
<div class="menuIcon">
  <span class="icon icon-bars"></span>
</div>


<div class="overlay-menu">
  <ul id="menu">
      <li><%= link_to "Home", root_path  %></li>
      <li><%= link_to "Profile", profile_path %></li>
      <li><a href="">Mechanics</a></li>
      <li><a href="">Contact</a></li>
    </ul>
</div>
