/* Index Page */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin: 10px;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 8px;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 8px;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: $primary-colour;
}

.card_content:hover {
  background-color: #87DBDD;
}

.title_index {
  z-index:2;
  font-size: 30px;
  text-align: left;
  padding: 8px;
  margin-top: 70px;
}

.card_title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  margin-bottom: 1.25rem;
}

.card_text {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 1.25rem;
  font-weight: 400;
}
/* ----------------------------- */

// Booking Show Page

.cards_booking {
  flex-wrap: wrap;
  list-style: none;
  margin: 8px;
  padding: 0;
}

.title_booking {
  z-index:2;
  font-size: 30px;
  text-align: left;
  padding: 8px;
  margin-top: 70px;
}

.booking_form {
  flex-wrap: wrap;
  list-style: none;
  margin: 8px;
  padding: 0;
  border-radius: 0.5rem;
}

// Payments new Page

.title_payment {
  z-index:2;
  font-size: 30px;
  text-align: center;
  padding: 15px;
  margin-top: 70px;
}

.payment_text {
  padding: 15px;
  font-size: 1.1rem;
  text-align: center;

}

/* Show Page */

.cards_show {
  // display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 8px;
  padding: 0;
}

.cards_item_show {
  // display: flex;
  padding: 8px;
}

.card_show {
  margin-top: 70px;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content_show {
  padding: 1rem;
  background: $primary-colour;
}

.btn_show {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #33A8A1;;
  border-radius: 0.5rem;
  margin: 20px 0px;
  text-align: center;
}

.btn_show:hover {
  background: #276965;
  color:#fff;
}

/* ----------------------------- */

/* Home Page */

.cards_item-home {
  display: flex;
  padding-top: 16px;
  width: 100%;

}
.card-home {
  background-color: white;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1rem;

}
.card_content-home {
  min-width: 25rem;
  padding: 1rem;
  background: $primary-colour;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #33A8A1;;
  border-radius: 0.5rem;
  margin: 20px 0px;
}

.btn:hover {
  background: #276965;
  color:#fff;
}

/* Profile Page */

.cards_profile {
  flex-wrap: wrap;
  list-style: none;
  margin: 8px;
  padding: 0;
}

.cards_item_profile {
  padding: 8px;
}