.review-container {
  color: white;
  margin: 1rem 0;
  width: 100%;
}

h2 {
  margin-bottom: 1.5rem;
}

.input-field {
  background: $primary-colour;
  width: 32%;
  padding: 0.85rem;
  border-radius: 5px;
}

.input-field input {
  border: none;
  background: transparent;
  outline: none;
  color: white;
  width: calc(100% - 3.2rem);
}

.input-field i,
.input-field input::placeholder {
  color: white;
}

.suggest {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.suggest span {
  background: $primary-colour;
  padding: 0.65rem 1.3rem;
  border-radius: 5px;
  font-size: 0.65rem;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
}

.suggest span:hover,
.suggest span:active {
  background: #33a8a1;
  color: #fff;
}

.cards_review {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards_review .card_review {
  width: 32%;
  margin-bottom: 0.7rem;
  background: $primary-colour;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_review > * {
  padding: 1rem 1.2rem;
}

.card-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.img {
  width: 50px;
  height: 50px;
  background: purple;
  border-radius: 50%;
  outline: none;
}

.name .one {
  background: orange;
}

.name,
.name .img {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name .img {
  justify-content: center;
}
.rate i {
  color: yellow;
}

.card-content {
  margin: 0;
  padding-top: 0;
}

.card-content p {
  font-size: 0.8rem;
  color: white;
}

.card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0px;
  margin-top: -25px;
}

.card-action span {
  font-size: 0.8rem;
  color: white;
}

.card-action .btn {
  padding: 0.3rem 0.7rem;
  background: transparent;
  border: 1px solid #000;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background: rgb(23, 119, 103);
  color: #fff;
}

@media screen and (max-width: 480px) {
  body {
    padding: 0rem;
    margin: 0;
  }

  .review-container {
    padding: 0;
  }

  h2 {
    margin-bottom: 1.5rem;
  }

  .input-field {
    width: 100%;
  }

  .cards_review {
    margin-top: 2.5rem;
  }
  .cards_review .card_review {
    width: 100%;
  }

  .card-action .btn {
    margin-left: 10px;
  }
}
