<div class="main">
  <div class="cards_show">
		<div class="cards_item_show">
			<div class="wrapper">
				<div class="master">
					<h2 class=review-h2 >How was your experience with <%= @booking.service.user.company_name %></h2>
					<div class="rating-component">
						<div class="status-msg">
							<label>
							<input  class="rating_msg" type="hidden" name="rating_msg" value=""/>
							</label>
						</div>
						<div class="stars-box">
							<i class="star fa fa-star" title="1 star" data-message="Poor" data-value="1"></i>
							<i class="star fa fa-star" title="2 stars" data-message="Too bad" data-value="2"></i>
							<i class="star fa fa-star" title="3 stars" data-message="Average quality" data-value="3"></i>
							<i class="star fa fa-star" title="4 stars" data-message="Nice" data-value="4"></i>
							<i class="star fa fa-star" title="5 stars" data-message="very good qality" data-value="5"></i>
						</div>
						<div class="starrate">
							<label>
							<input  class="ratevalue" type="hidden" name="rate_value" value=""/>
							</label>
						</div>
					</div>

					<div class="feedback-tags">
						<div class="tags-container" data-tag-set="1">
							<div class="question-tag">
								Why was your experience so bad?
							</div>
						</div>
						<div class="tags-container" data-tag-set="2">
							<div class="question-tag">
								Why was your experience so bad?
							</div>

						</div>

						<div class="tags-container" data-tag-set="3">
							<div class="question-tag">
								Why was your average rating experience ?
							</div>
						</div>
						<div class="tags-container" data-tag-set="4">
							<div class="question-tag">
								Why was your experience good?
							</div>
						</div>

						<div class="tags-container" data-tag-set="5">
							<div class="make-compliment">
								<div class="compliment-container">
									Give a compliment
									<i class="far fa-smile-wink"></i>
								</div>
							</div>
						</div>
						
						<div class="tags-box">
							<textarea type="textarea"  rows="2" cols="50" class="tag form-control" name="comment" id="inlineFormInputName" placeholder="please enter your review..."></textarea>
							<input type="hidden" name="product_id" value="{{ $products->id }}" />
						</div>
						
					</div>

					<div class="button-box">
						<input type="submit" class=" done btn btn-warning" disabled="disabled" value="Add review" />
					</div>

					<div class="submited-box">
						<div class="loader"></div>
						<div class="success-message">
							Thank you!
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

    <%#= simple_form_for [current_user, @booking, @review] do |f| %>
    <%#= f.input :rating %>
    <%#= f.submit class: "btn" %>
    <%# end %>
		

